name: Run Jarvis Website Code
on: [push]
jobs:
  run-code:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
      - name: Setup Python
        uses: actions/setup-python@v4
        with:
          python-version: '3.9'
      - name: Install Requirements
        run: pip install -r requirements.txt
      - name: Run Script
        run: python app.py
